@model UserManagemetn.Models.Books

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        li {
            font-size: 20px;
            font-family: "Times New Roman";
            font-style: normal;
        }

        h1 {
            position: absolute;
            left: 0px;
        }

        .jumbotron {
            background-color: azure;
            padding: 30px;
        }

        body {
            background-color: transparent;
        }

        #create {
            height: 35px;
            width: 70px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-sm-12 form-inline">
            <div><h1>Create a new book</h1></div>
            <br />
            <br />
            <br />
            <hr />
            <div style="padding:20px">
                @using (Html.BeginForm())
                {

                    <span>Name:</span>@Html.TextBoxFor(m => m.Name) <br />
                    <br />

                    <span id="basic-addon1">Price:  </span>@Html.TextBoxFor(m => m.Price) <br />
                    <br />

                    <input id="create" type="submit" value="Create " />
                    <button type="button" class="btn col-sm-offset-1" aria-label="Left Align">@Html.ActionLink("Cancel", "Index", "Home")</button>
                }
            </div>
        </div>
    </div>
</body>

</html>
